@model UploadTransaction.Models.TransactionUploadFile
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center">
        <div class="col-12">

            <img src="~/images/file.png" width="150" />
            <br><br> <h2 style="color:#0fad00">Success upload file</h2>
            <br/>
            <a class="btn btn-success" asp-action="Index"> Upload more again </a>
            <br><br>
        </div>

    </div>
</div>
